.section-title-wrapper {
  display: inline-block;
  position: relative;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: inline-block;
  position: relative;
}
